:root {
    /*———————————————————————————————— COLOR DOWN ———————————————————————————*/
    --color-grey-esi: #C6C6C7;
    --color-blue_esi: #7fc9f3;
    --color-blue-other_conv: #a1d0f7;
    --color-grey-esi: #75766a;
    --color-white: #fff;
    --color-text-05: rgba(14, 36, 57, 0.5);
    --color-green: #23CBA7;
    /*———————————————————————————————— COLOR UP —————————————————————————————*/
    /*———————————————————————————————— FONT-FAMILY DOWN —————————————————————*/
    --main-font-family: "Raleway", sans-serif;
    /*———————————————————————————————— FONT-FAMILY UP ———————————————————————*/
    /*———————————————————————————————— BODER DOWN ———————————————————————————*/
    --border-float: var(--color-shadow) 1px solid;
    --border-float-radius: 5px;
    --border-radius-selcted-element: 10px;
    /*———————————————————————————————— BODER UP —————————————————————————————*/
    /*———————————————————————————————— SHADOW DOWN ——————————————————————————*/
    --box-shadow: 12px 12px 20px var(--color-shadow);
    /*———————————————————————————————— SHADOW UP ————————————————————————————*/
    /*———————————————————————————————— TRANSITION DOWN ——————————————————————*/
    --transition-time: .450s;
    --transition-time-picture: .5s;
    /*———————————————————————————————— TRANSITION UP ————————————————————————*/
}

/*————————————————————— DISPLAY-NONE DOWN ———————————————————————————————————*/

.display_none {
    display: none;
}

/*————————————————————— DISPLAY-NONE UP —————————————————————————————————————*/

/*————————————————————— BUTTON TO DEFAULT DOWN ——————————————————————————————*/

.remove-button-default-att {
    /* border: none; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    /* border: 0; */
    /* margin: 0; */
    /* padding: 0; */
    /* border-radius: 0; */
    overflow: hidden;
    text-overflow: ellipsis;
}

/*————————————————————— BUTTON TO DEFAULT UP ————————————————————————————————*/

/*————————————————————— IMG-TEXT_RIGHT DOWN —————————————————————————————————*/

.img-text-wrap {
    display: flex;
    width: 100%;
    /* height: 100%; */
}

.img-text-img {
    /* display: flex; */
    /* width: 25px; */
    width: 50%;
    /* flex-direction: row; */
}

.img-text-img img {
    width: 100%;
    margin: auto;
}

.img-text-div {
    width: 50%;
    margin: auto 0 auto 5px;
}

/*————————————————————— IMG-TEXT_RIGHT UP ———————————————————————————————————*/

/*————————————————————— DATA_KEY_VALUE DOWN —————————————————————————————————*/

.data-key_value-wrap {
    display: flex;
    text-transform: capitalize;
}

.data-key_value-wrap .data-key_value-key {
    color: var(--color-grey-esi);
}

.data-key_value-key:first-child {
    margin-right: 5px;
}

.data-key_value-wrap .data-key_value-value {
    color: var(--color-blue_esi);
}

/*————————————————————— DATA_KEY_VALUE UP ———————————————————————————————————*/

/*————————————————————— INPUT DOWN —————————————————————*/

.input-wrap {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.input-label {
    display: none;
    position: absolute;
    /* width: 300px; */
    left: 5px;
    vertical-align: middle;
    color: var(--color-grey-esi);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
    z-index: 1;
}

.input-unit {
    /* display: none; */
    position: absolute;
    /* width: 300px; */
    right: 20px;
    /* top: 22px; */
    top: 11px;
    vertical-align: middle;
    color: var(--color-grey-esi);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
    z-index: 1;
}

.input-wrap .input-tag {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    width: 100%;
    height: 45px;
    padding: 15px 5px 0;
    /* background-color: #fff; */
    /* border: #00174F 1px solid; */
    color: var(--color-text-05);
    background-color: var(--color-white);
    border: var(--color-blue_esi) solid;
    overflow: hidden;
    text-overflow: ellipsis;
    /* color: #00174F; */
    white-space: nowrap;
    border-width: 0 0 0.5px;
}

.input-wrap .input-label {
    text-transform: capitalize;
}

.input-wrap .input-tag::-webkit-input-placeholder {
    /* Edge */
    color: var(--color-grey-esi);
}

.input-wrap .input-tag:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--color-grey-esi);
}

.input-wrap .input-tag::placeholder {
    color: var(--color-grey-esi);
    text-transform: capitalize;
    font-family: var(--main-font-family);
}

.input-wrap .comment {
    /* display: none; */
    margin: 5px 0 10px;
    color: var(--color-red);
    font-size: var(--little-font-size);
    /* transition: var(--transition-time);
    -moz-transition: var(--transition-time); */
}

.input-wrap .comment::first-letter {
    text-transform: capitalize;
}

.select-error {
    border: var(--color-red) 2px solid;
}

/*————————————————————— INPUT UP ————————————————————————————————————————————*/

/*————————————————————— BLUE-BUTTON DOWN ————————————————————————————————————*/

.blue-button {
    width: 100%;
    height: 33px;
    border-radius: var(--border-float-radius);
    color: var(--color-blue_esi);
    background-color: var(--color-white);
    border: var(--color-blue_esi) 1px solid;
    text-transform: capitalize;
    box-shadow: var(--box-shadow);
    transition: var(--transition-time);
    -moz-transition: var(--transition-time);
    cursor: pointer;
}

.blue-button:hover {
    color: var(--color-white);
    background-color: var(--color-blue_esi);
    border: var(--color-blue_esi) 1px;
    border: double;
    transition: var(--transition-time);
    -moz-transition: var(--transition-time);
}

.blue-button-unfocus {
    width: 100%;
    height: 33px;
    border-radius: var(--border-float-radius);
    color: var(--color-blue_esi);
    background-color: var(--color-white);
    border: var(--color-blue_esi) 1px solid;
    text-transform: capitalize;
    box-shadow: var(--box-shadow);
    transition: var(--transition-time);
    -moz-transition: var(--transition-time);
    cursor: pointer;
}

.blue-button-focus {
    width: 100%;
    height: 33px;
    border-radius: var(--border-float-radius);
    color: var(--color-white);
    background-color: var(--color-blue_esi);
    border: var(--color-blue_esi) 1px solid;
    text-transform: capitalize;
    box-shadow: var(--box-shadow);
    transition: var(--transition-time);
    -moz-transition: var(--transition-time);
    cursor: pointer;
}

/*————————————————————— BLUE-BUTTON UP ——————————————————————————————————————*/

/*————————————————————— V_SYMBOLE DOWN ——————————————————————————————————————*/

.v_symbol-wrap {
    position: relative;
    width: 15px;
    height: 15px;
}

.v_symbol-wrap .v_symbol-vertical {
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    left: 50%;
    border-style: solid;
    border-width: 0 1px 0 0;
    transform: rotate(38deg);
}

.v_symbol-wrap .v_symbol-horizontal {
    display: block;
    position: absolute;
    width: 1px;
    height: 7px;
    top: 7px;
    left: 2px;
    border-style: solid;
    border-width: 0 1px 0 0;
    transform: rotate(-30deg);
}

/*————————————————————— V_SYMBOLE UP ————————————————————————————————————————*/

/*————————————————————— V_SYMBOLE UP ————————————————————————————————————————*/

.o_symbol-wrap {
    position: relative;
    width: 10px;
    height: 10px;
}

.o_symbol {
    width: 100%;
    height: 100%;
    border: var(--color-white) 1px solid;
    border-radius: 50%;
}

/*————————————————————— V_SYMBOLE UP ————————————————————————————————————————*/