.esi-logo-container {
    width: 200px;
    padding: 20px;
}

.window-display-middle {
    width: 50%;
    /* height: 50vh; */
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-white);
}

.form-switcher-container {
    display: flex;
    margin-bottom: 15px;
}

.switcher-button-div {
    width: 50%;
    padding: 0 5px;
}

.sign_form {
    margin-bottom: 30px;
}

.sign_form-container {
    width: 80%;
    margin: 0 auto;
}

.input-container {
    /* width: 50%; */
    margin: 0 auto;
}

.sign_form-button-div {
    width: 50%;
    margin: 0 auto;
}

/*—————————————————————— DISCUSSIONS DOWN ———————————————————————————————————*/

.w3-main {
    height: 100%;
}

.msg-window {
    position: relative;
    height: 100%;
    padding: 0;
}

.msg-background {
    position: absolute;
    background-image: url('../images/static/conv-default-background.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.msg-window-inner {
    padding: 10px 30px;
}

.msg-wrap {
    /* display: flex; */
    position: relative;
    margin-bottom: 15px;
    font-family: var(--main-font-family);
}

.msg-wrap-inner {
    display: flex;
}

.msg-date {
    width: 100%;
    display: flex;
}

.msg-date span {
    margin: 0 auto;
    background-color: var(--color-blue_esi);
    color: var(--color-white);
    padding: 5px;
    border-radius: var(--border-float-radius);
}

.msg-date span::first-letter {
    text-transform: capitalize;
}

.msg-text {
    padding: 5px;
    color: var(--color-white);
    border-radius: var(--border-float-radius);
}

.msg-left {
    max-width: 80%;
    margin-right: auto;
    background-color: var(--color-blue-conv);
}

.msg-left::after {
    content: '';
    position: absolute;
    top: 2.5px;
    left: -3px;
    width: 10px;
    height: 10px;
    border-color: var(--color-blue-conv);
    border-width: 0 1px 1px 0;
    border-style: solid;
    pointer-events: none;
    transform: rotate(-45deg);
    background-color: var(--color-blue-conv);
}

.msg-right {
    max-width: 80%;
    margin-left: auto;
    background-color: var(--color-blue_esi);
}

.msg-right::after {
    content: '';
    position: absolute;
    top: 2.5px;
    right: -3px;
    width: 10px;
    height: 10px;
    border-color: var(--color-blue_esi);
    border-width: 0 1px 1px 0;
    border-style: solid;
    pointer-events: none;
    transform: rotate(-45deg);
    background-color: var(--color-blue_esi);
}

.msg-info {
    display: flex;
}

.msg-info-inner {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.msg-time {
    margin-right: 5px;
}

.msg-status {
    display: flex;
}

.msg-status .v_symbol-wrap, .msg-status .o_symbol-wrap {
    margin: auto;
}

.msg_sender-container {
    display: flex;
    position: absolute;
    width: 100%;
    padding: 10px 15px;
    bottom: 0;
    background-color: var(--color-grey);
}

.msg_sender {
    /* display: flex; */
    width: 80%;
}

.msg_sender-inner{
    display: flex;
    height: 100%;
    padding: 0 10px;
    border-radius: 21px;
    background-color: var(--color-white);
}

.msg_sender-placeholder {
    position: absolute;
    top: 16px;
    left: 30px;
    color: var(--color-grey-esi-08);
}

.msg_sender-input {
    width: 100%;
    margin: auto 0;
    padding-left: 5px;
    color: var(--color-text-08);
    border-radius: var(--border-float-radius);
    z-index: 1;
}

.msg_sender-button-set {
    display: flex;
    width: 20%;
}

.msg_sender-button-div {
    width: 50%;
    padding: 0 5px;
}