/* down code's source: https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_coming_soon&stacked=h */
body,
h1 {
    font-family: var(--main-font-family);
}

body,
html {
    height: 100%
}

.bgimg {
    background-image: url('../images/static/forestbridge.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}