body,
h1 {
    font-family: var(--main-font-family);
}

body,
html {
    height: 100%
}

.bgimg {
    background-image: url('../images/static/forestbridge.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}